<h1>Emergencia#index</h1>
<% @emergencias.each do |emergencia| %>
      <p><%= emergencia.magnitud %></p>
      <p><%= emergencia.fecha %></p>
      <p><%= emergencia.tipo_vehiculo %></p>
      <br><br>

<% end %>